  .class_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

.class_button{
  box-sizing: border-box;
  border: solid 1px white;
  font-size: 15px;
  margin: 0;
  display:block;
  padding: 10px;
}

.class_img {
  width: 150px;
  margin-bottom: 25px;
}

.class_res{
  display: inline-block;
}